certifi==2024.8.30
charset-normalizer==3.3.2
firebase-admin==6.5.0
gcloud==0.18.3
googleapis-common-protos==1.65.0
httplib2==0.22.0
idna==3.10
oauth2client==4.1.3
protobuf==5.29.5
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyparsing==3.1.4
requests==2.32.4
requests-toolbelt==0.10.1
rsa==4.9
six==1.16.0
uplink==0.9.7
uritemplate==4.1.1
urllib3==2.5.0
